
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.container {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
}
.Imc {
  background: #0fefbd;
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
}
.Imc2 {
  background: #0fefbd;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
}

.Imc > h1 {
  color: white;
  font-size: 50px;
}

.cardContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 30vh;
}

input::placeholder{
  color: black;
}

.card,
.cardContainerLogin {
  background: white;
  width: 65%;
  height: 50vh;
  box-shadow: 0px 0px 34px -16px rgba(0, 0, 0, 0.75);
  max-width: 1000px;
  display: flex;
}
.cardContainerLogin {
  height: 30vh;
  border-radius: 5px;
}

.card__fondo {
  background: linear-gradient(
      rgba(122, 122, 122, 0),
      rgba(119, 119, 119, 0.315)
    ),
    url(../assets/fondo.png) center center;
  background-size: cover;
  width: 45%;
  height: 100%;
}
.card__data {
  width: 55%;
  height: 100%;
}
.cardContainerLogin {
  width: 40%;
}
.hola {
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: 20px;
}
.h2Login{
  font-size: 40px;
}
.card__login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card__form__container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card__form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card__form > h2 {
  margin-bottom: 10px;
 
}

.card__input {
  width: 70%;
  height: 30px;
  margin: 0 0 20px 0;
  border: none;
  border-bottom: 1px solid;
  outline: none;
}

.card__button {
  margin: 20px 0;
  width: 45%;
  height: 30px;
  cursor: pointer;
  outline: none;
  background: rgb(49, 49, 49);
  border: 1px solid;
  border-radius: 5px;
  font-size: 15px;
  color: white;
}

.progress {
  background: linear-gradient(
    to right,
    rgb(70, 158, 240),
    rgb(70, 158, 240),
    rgb(15, 219, 94),
    rgb(124, 219, 15),
    rgb(255, 251, 0),
    rgb(255, 251, 0),
    rgba(218, 10, 10, 0.931),
    rgb(88, 1, 1)
  );
  width: 97%;
  height: 20px;
  border-radius: 20px;
  position: relative;
  margin-top: 20px;
}

.progressContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #000;
  position: absolute;
  bottom: 22px;
  transition: 1s;
}

.resultImc {
  margin: 0px 0px 10px 0;
}

.button_recomend {
  background-color: transparent;
  border: none;
  color: rgb(156, 156, 156);
  transition: 0.5s;
  width: auto;
  margin-bottom: 0px;
}

.btn__progress{
  padding: 5px;
  width: 150px;
  margin: 20px 5px;
}

.button_recomend:hover {
  color: darkblue;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(32, 32, 32);
  height: 40px;
  width: 100%;
  position: absolute;
  padding: 10px 0;
  bottom: 0;
}

/* Navbar */
.nabvar{
  height: 65px;
  min-width: 100vh;
  width: 100%;
  background-color: transparent;   
  position: absolute;
  color: white;
  border-bottom: 1px solid #1cb997 ;
  font-family: 'Satisfy', cursive;
}
.nabvar__items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  margin-right: 18px;
}

.nabvar > h1{
  font-family: 'Satisfy' !important;
}

.nabvar__logo{
  padding: 8px;

}

.close{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  color: #000;
  cursor: pointer;
}

.avatar{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.navbar__elements{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}

.navbar__elements > img{
  width: 50px;
  border-radius: 50px;
  margin-right: 30px;
}

.link{
  text-decoration: none;
  list-style: none;
  margin-right: 30px;
  font-size: 20px;
  color: #000;
}

/* DATA */

#chart{
  margin-top: 200px;
  background-color: transparent;
}

.estadisticas{
  display: flex;
  justify-content: center;
}

.c3-event-rect{
  height: 100%;
}

#chart{
  margin-top: 8px;

}

.container__tabla{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}

.table{
  width: 80vw;
  margin-bottom: 1rem;
  border-color: white; 
}
.table__head{
  background-color: #0fefbd;

}
.table__datos{
  text-align: center;
}

td{
  border-bottom: #000 solid 2px;
  
}

