.container {
  display: flex;
  flex-direction: column;
}
.Imc {
  background: #0fefbd;
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Imc > h1 {
  color: white;
  font-size: 50px;
}

.cardContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 30vh;
}

.card {
  background: white;
  width: 65%;
  height: 50vh;
  box-shadow: 0px 0px 34px -16px rgba(0, 0, 0, 0.75);
  max-width: 1000px;
  display: flex;
}

.card__fondo {
  background: linear-gradient(
      rgba(122, 122, 122, 0),
      rgba(119, 119, 119, 0.315)
    ),
    url(../assets/fondo.png) center center;
  background-size: cover;
  width: 45%;
  height: 100%;
}
.card__data {
  width: 55%;
  height: 100%;
}
.card__form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card__input {
  width: 70%;
  height: 30px;
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid;
  outline: none;
}

.card__button {
  margin: 20px 0;
  width: 45%;
  height: 30px;
  cursor: pointer;
  outline: none;
  background: rgb(49, 49, 49);
  border: 1px solid;
  border-radius: 5px;
  font-size: 15px;
  color: white;
}

.progress {
  background: linear-gradient(
    to right,
    rgb(70, 158, 240),
    rgb(70, 158, 240),
    rgb(15, 219, 94),
    rgb(124, 219, 15),
    rgb(255, 251, 0),
    rgb(255, 251, 0),
    rgba(218, 10, 10, 0.931),
    rgb(88, 1, 1)
  );
  width: 97%;
  height: 20px;
  border-radius: 20px;
  position: relative;
  margin-top: 20px;
}

.progressContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #000;
  position: absolute;
  bottom: 22px;
  transition: 1s;
}

.resultImc{
  margin:  0px 0px 10px 0;
}

.button_recomend{
  background-color: transparent;
  border: none;
  color: rgb(156, 156, 156);
  transition: 0.5s;
  width: auto;
  margin-bottom: 0px;
}

.button_recomend:hover {
  color: darkblue;
}